<div id="<%= dom_id librarian%>">
    <p>
        <strong>Name:</strong>
        <%= format_name(librarian)%>
    </p>
    <p>
        <strong>Age:</strong>
        <%= librarian.age%>
    </p>
</div>